@model ExpediFlow.Models.Expediente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="alert alert-danger alert-dismissible">
       
        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
        ¿Estás seguro de que quieres eliminar esto?
    </div>
     <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Expediente</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">   
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.NumExpediente)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.NumExpediente)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaIngreso)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaIngreso)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaEstadoActual)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaEstadoActual)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdUsuarioAsignado)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdUsuarioAsignado)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdResolucion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdResolucion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdDictamen)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdDictamen)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdArchivo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdArchivo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Observaciones)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Observaciones)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaModificacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaModificacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ModificadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdDepartamentoNavigation.Nombre)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEntidadRepresentanteNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdEntidadRepresentanteNavigation.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEntidadResponsableNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdEntidadResponsableNavigation.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEntidadSolicitanteNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdEntidadSolicitanteNavigation.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEstadoActualNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdEstadoActualNavigation.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdMunicipioNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdMunicipioNavigation.Nombre)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdSubTramiteNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdSubTramiteNavigation.Codigo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdTramiteNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdTramiteNavigation.Codigo)
                        </dd>
                </div>
            </div>
        </div>
         <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdExpediente" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index"  class="btn btn-secondary">Regresar a la Lista</a>
            </form>
          </div>
    </div>
</div>
</div>
